@page
@model SignalRChat.Pages.DataSetsModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
}
<br />
@if (Model.UploadSuccessful)
{
    <div class="alert alert-success" role="alert">
        Upload successful!
    </div>
}

@if (Model.FileList != null && !Model.UploadSuccessful)
{
    <div class="alert alert-danger" role="alert">
        Error: The file '@Model.ErrorFileName' already exists in the database. 
        <ol>
            <li>Please choose a different file</li>
            <li>Or change the name of @Model.ErrorFileName to something else.</li>
        </ol> 
    </div>
}

@if (Model.ModelState.IsValid)
{
    <div style="max-width: 500px; margin: 0 auto; background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form method="post" enctype="multipart/form-data">
            <div style="margin-bottom: 20px;">
                <h2 style="margin-top: 0;">Upload Files</h2>
                <br />
                <input style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; box-sizing: border-box;" asp-for="FileList" value="Upload Files" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple />
            </div>
            <br />
            <div style="margin-bottom: 20px;">
                <input style="padding: 10px 20px; background-color: #333; color: #fff; border: none; border-radius: 4px; cursor: pointer;" type="submit" value="Submit File" />
            </div>
        </form>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        @foreach (var modelError in Model.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@modelError.ErrorMessage</p>
        }
    </div>
}

<br />

@{
    string imagesDir = Directory.GetCurrentDirectory();
    imagesDir += @"\wwwroot\Uploads\";
    <br />
    DirectoryInfo imagesFolder = new DirectoryInfo(imagesDir);

    var fileListing = imagesFolder.GetFiles();
    <hr />
    <br />
        <section class="allCards" style="display: grid; grid-gap: 2em; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
        @foreach (var file in fileListing)
        {
            <div class="card" style="max-width: 20rem;">
                <div class="card-body" style="text-align: center; display: flex; flex-direction: column; justify-content: space-between;">
                    <h5 class="card-title mb-3">@file.Name</h5>
                    <a class="btn mb-3" style="background-color: #293A7F; color: white;" asp-page="/ViewExcelData" asp-route-fileName="@file.Name">View</a>
                    <a href="/Uploads/@file.Name" target="_blank" class="btn mb-3" style="background-color: #293A7F; color: white;">Download</a>
                    <form method="post" onsubmit="return confirm('Are you sure you want to delete this file?');">
                        <button type="submit" asp-page-handler="DeleteFile" asp-route-fileName="@file.Name" class="btn btn-danger" style="width: 100%;">Delete</button>
                    </form>
                </div>
            </div>
        }
        </section>
}
