@page
@using System.Data.SqlClient
@using SignalRChat.Pages.DB
@model SignalRChat.Pages.EnteredCollaborationModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["collabid"] = HttpContext.Session.GetInt32("collabid");
}
<br />

<h1>@Model.CollaborationName</h1>
@{
    if ((int)ViewData["collabid"] == 1)
    {
        <br />
        <h1>Knowledge Items (Turn into Analysis Eventually)</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    @* <th>KnowledgeID</th> *@
                    <th>Knowledge Title</th>
                    <th>Knowledge Subject</th>
                    <th>Category</th>
                    <th>Information</th>
                    <th>Knowledge Date</th>
                    <th>Actions</th>
                    @* <th>UserID</th> *@
                </tr>
            </thead>
            <tbody>
                @{
                    SqlDataReader KnowledgeItemReader = DBClass.GetAllKnowledgeItems();

                    while (KnowledgeItemReader.Read())
                    {
                        <tr>
                            @*<td>@KnowledgeItemReader["KnowledgeID"]</td>*@
                            <td>@KnowledgeItemReader["KnowledgeTitle"]</td>
                            <td>@KnowledgeItemReader["KnowledgeSubject"]</td>
                            <td>@KnowledgeItemReader["Category"]</td>
                            <td>@KnowledgeItemReader["Information"]</td>
                            <td>@KnowledgeItemReader["KNDate"]</td>
                            <td>
                                <button type="button" class="btn" style="color: white; width: 100%; background-color: #293A7F;">Edit</button>
                            </td>

                            @*<td>@KnowledgeItemReader["UserID"]</td>*@

                        </tr>
                    }

                    DBClass.CollabFusionDBConnection.Close();
                }

            </tbody>
        </table>

        <a asp-page="/KnowledgeItem" class="btn" style="background-color: #293A7F; color: white;">Create Knowledge Item</a>
        <br />
        <br />
        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/DataSets">View Excel Data</a>

    }

    else if ((int)ViewData["collabid"] == 2)
    {
    
        <br />
        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload Analysis Document</a>


        <h1>Benchmarcking Anlaysis</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "BenchmarkingAnalysis")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        <h1>Best Practices Documents</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "BestPractices")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }   
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        // <a asp-page="/UploadFile" class="btn btn-primary">Upload SWOT</a>

        <h1>SWOT Analysis</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "BenchmarkSWOT")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload PEST Document</a>



    }

    else if ((int)ViewData["collabid"] == 3)
    {

        <br />
        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload Analysis Document</a>


        <h1>Legal Requirements</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "LegalRequirement")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        <h1>Best Practices Documents</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "ManagementPractice")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        // <a asp-page="/UploadFile" class="btn btn-primary">Upload SWOT</a>

       
        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload PEST Document</a>

    }

    else if ((int)ViewData["collabid"] == 4)
    {

        <br />
        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload Analysis Document</a>


        <h1>Tax Assesment</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "TaxAssesment")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

      

        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload PEST Document</a>

    }


     
    else if ((int)ViewData["collabid"] == 5)
    {
        <br />

        <h1>SWOT Analysis</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "SWOT")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        // <a asp-page="/UploadFile" class="btn btn-primary">Upload SWOT</a>

        <h1>PEST Analysis</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Date Uploaded</th>
                    <th>Command</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var document in Model.Doc)
                {
                    if (document.AnalysisType == "PEST")
                    {
                        <tr>
                            <td>@document.FileName</td>
                            <td>@document.DateAdded.ToShortDateString()</td>
                            <td>
                                <!-- Add a button to trigger the download -->
                                <button class="btn btn-primary" onclick="downloadDocument('@document.FileName', '@Convert.ToBase64String(document.FileData)')">Download</button>
                            </td>
                        </tr>
                    }
                }

                <script>
                    function downloadDocument(fileName, fileData) {
                        // Create a blob from the base64 encoded file data
                        var byteCharacters = atob(fileData);
                        var byteNumbers = new Array(byteCharacters.length);
                        for (var i = 0; i < byteCharacters.length; i++) {
                            byteNumbers[i] = byteCharacters.charCodeAt(i);
                        }
                        var byteArray = new Uint8Array(byteNumbers);
                        var blob = new Blob([byteArray], { type: 'application/octet-stream' });

                        // Create a link element and trigger a download
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                </script>
            </tbody>
        </table>

        <a class="btn" style="background-color: #293A7F; color: white; width: 100%;" asp-page="/UploadFile">Upload Document</a>

     

    }
}
<a asp-page="PrintReport" class="btn" style="background-color: #293A7F; color: white; width: 100%;">Print Report</a>


