@page
@model SignalRChat.Pages.KnowledgeLibraryModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/carousel.css" />
</head>
 <body>
    <br />
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4>
            Welcome to Knowledge Library
        </h4>
    </div>
        <br />
    <br />

    <form method="post" asp-page-handler="Search">
        <label for="SearchTerm" style="display: block;">Search Knowledge Library:</label>
        <input type="text" asp-for="SearchTerm" />
        <button type="submit">Search</button>
        <br />
    </form>

    <br />
    <br />

<h2>Knowledge View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Knowledge ID:</th>
            <th>Knowledge Title:</th>
            <th>Knowledge Subject:</th>
            <th>Category:</th>
            <th>Information:</th>
           @* <th>Date and Time:</th>
            <th>Knowledge Information:</th> *@
        </tr>
    </thead>
    <tbody>
        @if (Model.KnowledgeItemList != null && Model.KnowledgeItemList.Any())
        {
            foreach (var know in Model.KnowledgeItemList)
            {
                <tr>
                    <td class="text-danger">@know.KnowledgeID</td>
                    <td>@know.KnowledgeTitle</td>
                    <td>@know.KnowledgeSubject</td>
                    <td>@know.Category</td>
                    <td>@know.Information</td>
                  @*  <td>@know.FullDateAndTime</td>
                    <td>@know.KnowledgeInfo</td> *@
                    @* <td>
                        <a asp-page="/Functions/EditKnowledge" class="btn btn-primary" asp-route-knowledgeid="@know.KnowledgeID">Edit</a>
                    </td> *@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No match found</td>
            </tr>
        }
    </tbody>
</table>
    </body>
<br />
 <a asp-page="KnowledgeItem" class="btn btn-primary spaceBtn">Add Knowledge Item</a> 


</html>