@page
@model SignalRChat.Pages.MyProfileModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["adminStatus"] = HttpContext.Session.GetString("_Admin");
    ViewData["userID"] = HttpContext.Session.GetInt32("_userid");
    string adminStatus = ViewData["adminStatus"] as string;
}

<h1>@Model.UserFirstName's Profile</h1>

<table class="table">
    <thead>
        <tr>
            <th>UserID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.User.UserID</td>
            <td>@Model.User.Username</td>
            <td>@Model.User.FirstName</td>
            <td>@Model.User.LastName</td>
            <td>@Model.User.Email</td>
            <td>@Model.User.Phone</td>
            <td>@Model.User.Street</td>
            <td>@Model.User.City</td>
            <td>@Model.User.State</td>
            <td>@Model.User.Country</td>
            <td>@Model.User.ZipCode</td>
            <td>@Model.User.Admin</td>
        </tr>
    </tbody>
</table>

<h2>Change My Information</h2>
<form asp-page="MyProfile" method="post">
    <div class="form-group">
        <label class="form-label">First Name</label>
        <input asp-for="ChangeUser.FirstName" class="form-control" placeholder="Enter new first name">
        <span asp-validation-for="ChangeUser.FirstName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">LastName</label>
        <input asp-for="ChangeUser.LastName" class="form-control" placeholder="Enter new LastName">
        <span asp-validation-for="ChangeUser.LastName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">Email</label>
        <input asp-for="ChangeUser.Email" class="form-control" placeholder="Enter new Email">
        <span asp-validation-for="ChangeUser.Email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">Phone</label>
        <input asp-for="ChangeUser.Phone" class="form-control" placeholder="Enter new Phone">
        <span asp-validation-for="ChangeUser.Phone" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">Street</label>
        <input asp-for="ChangeUser.Street" class="form-control" placeholder="Enter new Street">
        <span asp-validation-for="ChangeUser.Street" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">City</label>
        <input asp-for="ChangeUser.City" class="form-control" placeholder="Enter new City">
        <span asp-validation-for="ChangeUser.City" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">State</label>
        <input asp-for="ChangeUser.State" class="form-control" placeholder="Enter new State">
        <span asp-validation-for="ChangeUser.State" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">Country</label>
        <input asp-for="ChangeUser.Country" class="form-control" placeholder="Enter new Country">
        <span asp-validation-for="ChangeUser.Country" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label class="form-label">ZipCode</label>
        <input asp-for="ChangeUser.ZipCode" class="form-control" placeholder="Enter new ZipCode">
        <span asp-validation-for="ChangeUser.ZipCode" class="text-danger"></span>

    </div>
    <button type="submit" class="btn" style="color:white; background-color: #293A7F; display: block; width: 100%; margin-bottom: 1em;">Save Changes</button>
</form>

<a class="nav-link" asp-page="/Index" asp-route-logout="true"><i class="fa-solid fa-right-from-bracket" style="font-size: 1.2em;" data-toggle="tooltip" data-placement="bottom" title="Sign-out"></i></a>
