@page
@model SignalRChat.Pages.MyProfileModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");
    ViewData["adminStatus"] = HttpContext.Session.GetString("_Admin");
    ViewData["userID"] = HttpContext.Session.GetInt32("_userid");
    string adminStatus = ViewData["adminStatus"] as string;
}
<br />
<div style="display: flex; justify-content: space-between; align-items: center;">
<h1>@Model.UserFirstName's Profile</h1>
    <a class="btn btn-danger" asp-page="/Index" asp-route-logout="true">Sign-out <i class="fa-solid fa-right-from-bracket" data-toggle="tooltip" data-placement="bottom" title="Sign-out"></i></a>
</div>
<div class="table-responsive">

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Zip Code</th>
            <th>Role Permission</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.User.FirstName</td>
            <td>@Model.User.LastName</td>
            <td>@Model.User.Email</td>
            <td>@Model.User.Phone</td>
            <td>@Model.User.Street</td>
            <td>@Model.User.City</td>
            <td>@Model.User.State</td>
            <td>@Model.User.Country</td>
            <td>@Model.User.ZipCode</td>
            <td>@Model.User.Admin</td>
        </tr>
    </tbody>
</table>
</div>
<br />
<h2>Change My Information</h2>
<div>
    <form asp-page="MyProfile" method="post">
        <div style="display: flex">
            <div class="form-group" style="flex: 1;">
                <label class="form-label">First Name</label>
                <input asp-for="ChangeUser.FirstName" class="form-control" placeholder="Enter new first name" required>
                <span asp-validation-for="ChangeUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Last Name</label>
                <input asp-for="ChangeUser.LastName" class="form-control" placeholder="Enter new last name" required>
                <span asp-validation-for="ChangeUser.LastName" class="text-danger"></span>

            </div>
        </div>
        <div style="display: flex">
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Email</label>
                <input asp-for="ChangeUser.Email" class="form-control" placeholder="Enter new email" required>
                <span asp-validation-for="ChangeUser.Email" class="text-danger"></span>

            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Phone</label>
                <input asp-for="ChangeUser.Phone" class="form-control" placeholder="Enter new phone #" required>
                <span asp-validation-for="ChangeUser.Phone" class="text-danger"></span>

            </div>
        </div>
        <div style="display: flex">
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Street</label>
                <input asp-for="ChangeUser.Street" class="form-control" placeholder="Enter new street" required>
                <span asp-validation-for="ChangeUser.Street" class="text-danger"></span>

            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">City</label>
                <input asp-for="ChangeUser.City" class="form-control" placeholder="Enter new city" required>
                <span asp-validation-for="ChangeUser.City" class="text-danger"></span>

            </div>
        </div>
        <div style="display: flex">
            <div class="form-group" style="flex: 1;">
                <label class="form-label">State</label>
                <input asp-for="ChangeUser.State" class="form-control" placeholder="Enter new state" required>
                <span asp-validation-for="ChangeUser.State" class="text-danger"></span>

            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Country</label>
                <input asp-for="ChangeUser.Country" class="form-control" placeholder="Enter new country" required>
                <span asp-validation-for="ChangeUser.Country" class="text-danger"></span>

            </div>
            <div class="form-group" style="flex: 1;">
                <label class="form-label">Zip Code</label>
                <input asp-for="ChangeUser.ZipCode" class="form-control" placeholder="Enter new zip code" required>
                <span asp-validation-for="ChangeUser.ZipCode" class="text-danger"></span>

            </div>
        </div>
<br />
        <button type="submit" class="btn" style="color:white; background-color: #293A7F; display: block; width: 100%; margin-bottom: 1em;">Save Changes</button>
    </form>
    
</div>


