@page
@model SignalRChat.Pages.PrintReportModel
@{
    ViewData["collabid"] = HttpContext.Session.GetInt32("collabid");
    ViewData["username"] = HttpContext.Session.GetString("username");
}
<br />
<h1 style="display: flex; justify-content: center;">Report for @Model.CollaborationName</h1>
<p style="display: flex; justify-content: center; font-weight: bold;">Date: @Model.CurrentDate</p>
<br />

<h2>Main Analysis</h2>

@*RESEARCH SECTION*@

<br />
<h2>Research</h2>
<table class="table">
    <thead>
        <tr>
            <th>Knowledge Title</th>
            <th>Knowledge Subject</th>
            <th>Category</th>
            <th>Information</th>
            <th>Knowledge Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var KnowledgeItem in Model.KnowledgeItemList)
        {
            <tr>
                <td>@KnowledgeItem.KnowledgeTitle</td>
                <td>@KnowledgeItem.KnowledgeSubject</td>
                <td>@KnowledgeItem.Category</td>
                <td>@KnowledgeItem.Information</td>
                <td>@KnowledgeItem.KNDate</td>
            </tr>
        }
    </tbody>
</table>

@*USERS SECTION*@

<br />
<h3>Contributed Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var UserItem in Model.UserList)
        {
            <tr>
                <td>@UserItem.FirstName</td>
                <td>@UserItem.LastName</td>
            </tr>
        }
    </tbody>
</table>

<button id="printDownloadButton" class="btn btn-primary">Download Report</button>
<br />
<br />
<a class="btn" style="background-color: #293A7F; color: white;" asp-page="/CollabHub" id="backButton">&#8592; Back</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>
    document.getElementById("printDownloadButton").addEventListener("click", function () {
        // Hide the navbar before generating PDF
        var navbar = document.getElementById("navbarContainer");
        navbar.style.visibility = "hidden";

        // Hide the button before generating PDF
        var button = document.getElementById("printDownloadButton");
        button.style.visibility = "hidden";

        var backButton = document.getElementById("backButton");
        backButton.style.visibility = "hidden";

        setTimeout(function () {
            // Convert HTML content to PDF using html2pdf.js
            var element = document.body; // Or any other element you want to convert
            html2pdf(element, {
                margin: 1,
                filename: 'document.pdf',
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { dpi: 192, letterRendering: true },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' } // For vertical, change landscape to portrait
            }).then(function () {
                // Show the button again after PDF generation
                button.style.visibility = "visible";
                // Show the navbar again after PDF generation
                navbar.style.visibility = "visible";
            });
        }, 1); // Adjust the delay as needed
    });
</script>

