@page
@model SignalRChat.Pages.RevenueAnalysisModel
@{
    ViewData["username"] = HttpContext.Session.GetString("username");

}
<br />
@if (Model.RegressionAnalysisResult != null)
{
    <h2>Regression Analysis Result:</h2>
    <p>Intercept: @Model.RegressionAnalysisResult.Intercept</p>
    <p>Slope: @Model.RegressionAnalysisResult.Slope</p>
    <p>R-Squared: @Model.RegressionAnalysisResult.RSquared</p>

    <div id="scatterPlot"></div>
}

@section Scripts {
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var xValues = @Html.Raw(Json.Serialize(Model.XValues));
        var yValues = @Html.Raw(Json.Serialize(Model.YValues));
        var trendline = @Html.Raw(Json.Serialize(Model.Trendline));

        var trace1 = {
            x: xValues,
            y: yValues,
            mode: 'markers',
            type: 'scatter'
        };

        var trace2 = {
            x: xValues,
            y: trendline,
            mode: 'lines',
            type: 'scatter',
            name: 'Trendline'
        };

        var data = [trace1, trace2];

        var layout = {
            title: 'Revenue Analysis',
            xaxis: {
                title: '@Model.XColumnHeader'
            },
            yaxis: {
                title: '@Model.YColumnHeader'
            }
        };

        Plotly.newPlot('scatterPlot', data, layout);
    </script>
}
